[project]
name = "sia-scheduler"
version = "0.1.0"
requires-python = ">=3.10"

[tool.black]
line-length = 88

[tool.ruff]
line-length = 88
select = ["E", "F", "I"]
ignore = []

[tool.ruff.lint.isort]
known-first-party = ["scheduler"]
